JWT_SECRET= # SUA CHAVE SECRETA AQUI
MONGO_URL= # URL DO BANCO DE DADOS
GEMINI_API_KEY= # CHAVE DA API DO GEMINI 
EMAIL_PASS= # SUA CHAVE DE EMAIL
EMAIL_USER= # SEU EMAIL
CLOUDINARY_CLOUD_NAME= # NOME DA SUA CLOUD CLOUDINARY
CLOUDINARY_API_KEY= # CHAVE DA API DO CLOUDINARY
CLOUDINARY_API_SECRET= # SENHA DA API DO CLOUDINARY
FRONTEND_URL= # URL DO FRONT
REDIS_URL= # CONEXAO DO BANCO DE DADOS DO REDIS